# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Django local database
*.sqlite3
db.sqlite3

# Environment variables
.env

# VS Code settings
.vscode/

# Virtual environments
venv/
env/

# Static/media (optional)

media/

