{% extends "base.html" %}
{% load static %}

{% block menu_items %}
{% endblock %}

{% block nav_button %}
<a href="{% url 'home' %}" class="cta-button">Back to Home</a>
{% endblock %}

{% block content %}
<section class="terms-section py-3">

    <div class="container" style="margin-top: 100px;">
        <a href="{% url 'appointment' %}"><i class="fa-solid fa-arrow-left"></i></a>

        <h4 class="mb-4" style="text-align: center;">Terms and Conditions</h4>

        <h6>Terms & Conditions – validora.eu / Validora</h6>




        <p>By using our website and services, you agree to the following terms:</p>

        <h6>1. Nature of Service</h6>

        <p>We provide:

        Free consultations to raise awareness about immigration scams.<br>

        Paid one-on-one sessions for ₹1000/hour, which include document review and personal explanation of red
        flags.<br>

        No visa application processing, legal immigration advice, or representation before authorities.<br></p>

        <h6>2. User Responsibilities</h6>

        <p>Users must provide accurate and truthful information in the form.<br>

        Uploaded documents must be owned by the user or shared with proper consent.<br></p>

        <h6>3. Payment Terms (For Paid Session)</h6>
       <p> ₹1000/hour will be charged for detailed personal online sessions.<br>

        Payment must be made in advance through the agreed platform.<br>

        No refund will be made once the session is completed unless technical issues prevent delivery.<br></p>
        <h6>4. Limitation of Liability</h6>

        <p>We provide general guidance and red-flag analysis based on experience and public information.<br>

        We are not liable for any decisions users take based on our input.<br>

        The user assumes full responsibility for how they use the advice provided.<br></p>

        <h6>5. Changes</h6>

        <p>We may update these Terms & Conditions anytime. <br>
        Continued use of the website implies acceptance of the updated terms.<br></p>
        <h6>6. Contact</h6>
        <p>Email: info@validora.eu<br>
        Last updated: 01 July 2025</p>



    </div>
</section>
{% endblock %}